body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
    color: #333;
    min-width: 1200px;
    overflow-x: hidden;
}
.container{
	width: 1200px;
}
.col-md-12{
	width: 1200px;
	padding: 0;
}
#nav_header{
	position: relative;
    width: 100%;
    min-width: 1200px;
}
.nav{
	height: 50px;
	background: url(../img/ui_header_bg.png);
	position: relative;
}


.logo{
	padding: 0;
    float: left;
    position: absolute;
    left:13%;
}
.nav-list ul{
	width: 260px;
	height: 50px;
    list-style: none;
    margin-top:0px ;
    position: absolute;
    left: 78%;
    padding: 0;
}
.nav-list1 ul{
	width: 112px;
	height: 50px;
    list-style: none;
    margin-top:0px ;
    position: absolute;
    left: 68.6%;
    padding: 0;
}
.nav-list1 ul em{
	display: block;
	width: 1px;
	position: absolute;
	left:56px;
	top: 15px;
	z-index: 5;
	height:20px;
	background: black
}
.nav-list ul li,.nav-list1 ul li{
	float: left;;
	height: 50px;
	width: 55px;
	margin-left: 1px;
	position: relative;

}
.nav-list ul li:last-child{
	width: 90px;	
}
.nav-list ul li a,.nav-list1 ul li a{
	color:#5E5E5E;
	font-size:18px;
	text-decoration: none;
	display: block;
	margin-top: 14px;
	margin-left: 10px;
}	
.nav-list ul li:last-child a{
	margin-left:8px;
	position: relative;
}
.nav_active,.nav_active1{/*当前的目标下面的小箭头*/
	display: block;
	width: 0px;
	height: 0px;
    position: absolute;
    bottom: 0;
    left: 40%;
    overflow: hidden;
    border-left: 7px solid transparent;
    border-bottom: 7px solid black;
    border-right: 7px solid transparent;
}
.nav-list ul li a em{
	background: url(../img/index3.png) -165px 0 no-repeat;
	width: 28px;
	height:14px;
	position: absolute;
	top: -5px;
	left: 70px;
}

.login{/*登陆框总体*/
	width: 287px;
	height: 383px;
	background: white;
	position: absolute;
	top: 50px;
	left:60%;
	z-index: 30;
	padding: 20px;
	display: none;
}
.login dl dt{/*登陆框标题*/
	text-align: center;
	color: ##9b9b9b;
	font-size: 16px;
}
.login dl dt strong{
	display: block;
	font-size: 22px;
	font-weight: lighter;
	color: #333;
	padding-bottom: 3px;
	line-height: 1.1;
}
.userlogin{
	margin: 10px 0 0;
}
.userlogin ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.userlogin ul li{/*包裹用户名图片与输入框的li*/
	
	border: 1px solid #9b9b9b;
    margin: 10px 0 0;
    border-radius: 5px;
    height: 38px;
}
.userpic,.passpic{/*用户名头像图片*/
	background: url(../img/index3.png) 0 -75px no-repeat;
	width: 55px;
	height: 36px;
	border-right: 1px solid #d7d7d7;
    line-height: 0;
    font-size: 0;
    border-radius: 5px 0 0 5px;
    float: left;
}
.passpic{
	background: url(../img/index3.png) -58px -75px no-repeat;
}
.userpic+input,.passpic+input{/*用户名输入框本身*/
    width: 165px;
    background: 0 0;
    border: none;
    margin: 7px 4px;
    outline: none;
}
.userpic+input:-webkit-autofill {/*去除chorm自动填充的颜色*/
 -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.usertip{
	margin-top: 10px;
}
.usertip a{
	color: #333;
	float: right;
}
.icon-check{
	display: inline-block;
	background: url(../img/index3.png) 0 -120px no-repeat;
	width: 27px;
	height: 27px;
	float: left;
	position: relative;
	top: -4px;
}
.icon-checked{
	background:url(../img/index3.png) -28px -120px no-repeat;
}
.loginbtn{
	margin-top: 30px;
}
.loginbtn .btnblue,.loginbtn .btngrey{
	text-decoration: none;
	display: inline-block;
	width: 112px;
	height: 30px;
	background: dodgerblue;
	line-height: 30px;
	text-align: center;
	border-radius:50px;
	color: white;
}
.loginbtn .btnblue:hover{
	background:royalblue;
}
.loginbtn .btngrey{
	background: #E3E3E3;
	color: #333;
	margin-left: 15px;
}
.loginbtn .btngrey:hover{
	background: dodgerblue;
	color:white;
}
.otherlogin{
	display: block;
    text-align: center;
    padding: 16px;
	background: #f5f5f5;
	margin: 20px -20px;/*把背景色撑开*/
	border-radius: 4px 4px 5px 5px;
}
.otherlogin dt,.right_otherlogin dt{
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
}
.right_otherlogin dt{/*这是注册界面的第三方登陆颜色*/
	color: #333333;
}
.otherlogin .icon-sina,.right_otherlogin .icon-sina{/*新浪图标*/
	display: inline-block;
	background: url(../img/index3.png) 0 -150px no-repeat;
	width: 42px;
	height: 42px;
	margin: 0 13px;
}
.otherlogin .icon-qq,.right_otherlogin .icon-qq{/*qq图标*/
	display: inline-block;
	background: url(../img/index3.png) -44px -150px no-repeat;
	width: 42px;
	height: 42px;
	margin: 0 13px;
}
/*下面是注册*/
.regin{
	width: 1000px;
	height: 573px;
	position: absolute;
	z-index: 51;
	top: 50px;
	left: 150px;
	margin: auto;
	padding: 30px 65px;
	background: white;
	display:none;
	
}
.mask{
	position: fixed;
	right: 0;
    top: 0;
    left: 0;
    bottom: 0;
	z-index:50;
	background: black;
	opacity: 0.8;
	display: none;
}
.close img{
	position: absolute;
	top:10px;
	display: block;
	width: 50px;
	height: 50px;
	z-index: 10;
}
.regin_line{
	background: url(../img/index4.png) 0 0 no-repeat;
	width: 1px;
	height: 482px;
	position: absolute;
	left: 50%;
	top: 50px;
}
.regin_left{
	width: 380px;
	float: left;
	text-align: center;
}
.regin_left h2,.regin_right h2{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}
.regin_number,.regin_sms,.regin_pass,.regin_passtrue,.login_num,.login_passtrue{
	width: 375px;
	height: 49px;
	border: 1px solid #aaa;
	display: inline-block;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 20px;
	position: relative;
	
}
.outlight{
	box-shadow: 0px 0px 8px green;
}
.regin_number input,.regin_sms input,.regin_pass input,.regin_passtrue input,
.login_num input,.login_passtrue input{
	width: 345px;
	height: 40px;
	line-height: 21px;
	margin-top:3px;
	border: none;
	outline: none;
	font-size: 14px;
}
.regin_sms a{/*短信验证码按钮*/
	position: absolute;
	top:7px;
	right: 10px;
	display: inline-block;
	width: 100px;
	height: 34px;
	border-radius: 4px;
	background: #f6f6f6;
    line-height: 34px;
	color: #333;
	border: 1px solid #b6b6b6;
	text-decoration: none;
}
.regin_sms a:hover{
	background: #f0f0f0;
}
.passlevel{
	position: absolute;
	top: 6px;
	right:10px;
	color: #949494;
}
.passlevel .ps1,.passlevel .ps2,.passlevel .ps3{
	display: inline-block;
	width: 14px;
	height: 4px;
	margin-right: 2px;
	background: #C0C0C0;
	
}
.regin_sex{
	width: 380px;
	height: 44px;
	text-align: left;
}

.sex_check{
	background: url(../img/index4.png) -30px -231px no-repeat;
	display: inline-block;
	width:20px;
	height: 17px;
	position: relative;
	top: 3px;
	margin-right: 4px;
	margin-left: 10px;
}
.sex_checkon{
	background: url(../img/index4.png) -5px -231px no-repeat;
}
.male,.female{
	background: url(../img/index4.png) -5px -210px no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 5px;
	margin-right: 25px;
	position: relative;
	top: 3px;
}
.regin_pro,.login_pro{
	width: 380px;
	height: 45px;
	text-align: left;
}
.regin_proon{
	background: url(../img/index4.png) -2px -24px no-repeat;
	display: inline-block;
	width: 24px;
	height: 24px;
	position: relative;
	top: 6px;
	margin-right: 6px;
}
.on{
	background: url(../img/index4.png) -2px 0px no-repeat;
}
.regin_prodown{
	background: url(../img/index4.png) -2px 0px no-repeat;
}


.regin_pro a{
	color: #0085e5;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer;
}
.regin_btn,.login_btn{
	width: 380px;
	margin-top: 15px;
	
}
.regin_btn a,.login_btn a{
	color: white;
	background: dodgerblue;
	display: inline-block;
	font-size: 20px;
	width: 257px;
	height: 53px;
	line-height: 53px;
	border-radius: 50px;
	text-decoration: none;
}
/*//下面是右边的注册*/
.regin_right{
	width: 380px;
	float: right;
	text-align: center;
}
.login_pro a:first-child{
	color: #333333;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer;
}
#isautologin{
	line-height: 24px;
    text-decoration: none;
    cursor: pointer;
    color: #333333;
}
#forgetpass{
	line-height: 24px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    float: right;
}
.right_otherlogin{
	display: block;
    text-align: center;
    padding: 25px;
    
}


/*//下面是导航的搜索框*/
#search_right{/*搜索框右边的下拉框*/
	display: block;
	float: left;
	position: absolute;
	margin-top: 7px;
	left: 36.5%;
	z-index: 5;
}
#search{/*搜索框整体*/
	width: 300px;
	display: block;
	float: left;
	margin-top: 7px;
	position: absolute;
	left: 40.5%;
}
.form-control:focus{/*移除发光*/
	border: none;
	box-shadow: none;
}
#search_mess{/*搜索框本身*/
	height: 35px; 
	background: white;
	border: 1px solid #C0C0C0;
	position: relative;
	padding-left: 20px;
	
}
#search_right button:focus{/*取消虚线*/
	outline-style:none;
	-moz-outline-style: none;
}
#search_right button{/*下拉按钮*/
	height: 35px;
	background: white;
	border:1px solid #C0C0C0;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
#search_left{/*搜索小图标外面的框*/
	width: 45px;
	height: 35px;
	border: 1px solid #C0C0C0;
	position: absolute;
	top: 0;
	left: 298px;
	background:white;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}
.search_left1{/*搜索小图标*/
	display: block;
	background: url(../img/index3.png) 85px -45px;
	width: 18px;
	height: 18px;
	font-weight: 400;
	font-style: normal;
	position: absolute;
	left: 10px;
	top:7px;
}
.search_left2{/*搜索小图标白色*/
	display: block;
	background: url(../img/index3.png) 66px -45px;
	width: 18px;
	height: 18px;
	font-weight: 400;
	font-style: normal;
	position: absolute;
	left: 10px;
	top:7px;
}
.dropdown-menu{/*下拉框内容菜单*/
	padding: 5px 0;
	min-width:80px;
	left: -5px;
	text-align: center;	
}

#search_right ul li a{/*下拉框内容的a标签*/
	height: 30px;
	line-height: 30px;
	margin-top:0px;
	margin-bottom:0px;
}
.hot_seach{
	width: 292px;
	height: 300px;
	position: absolute;
	top:35px;
	left: 5px;
	z-index: 5;
	background:rgba(255,255,255,0.9);
	padding: 10px;
	display: none;

}
.hot_seach ul{
	padding: 0;
	list-style: none;
}
.hot_seach ul span{
	color: #999;
}
.hot_seach ul li{
	height: 28px;
	line-height: 28px;
	font-size: 16px;
	margin-bottom: 5px;
	cursor: pointer;
}
.item_hot{
	color: #fd4c5d;
}
.hot_seachbg{
	background: pink;
	color:#fd4c5d ;
}
#myCarousel{/*轮播大图*/
	height: 410px;
	width: 100%;
	position: relative;
	background:#050102;
	
}
.head_pic{/*大图box*/
	height: 410px;
	width: 1190px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}
.head_pic img{
	cursor: pointer;
}
.headpic_concent {
	height:410px;
 	background: black;
 	display: none;
 	opacity: 0;
 }
.appear{/*图片显示class*/
	display:block;
}
.circle{/*小圆点总体box*/
	list-style:none;
	position: absolute;
	left:74.5%;
	z-index: 15;
    bottom: 10px;
    padding-left: 0;
    margin-left: -30%;
}
.circle li{/*小圆点个体*/
	display: inline-block;
	border: 1px solid white;
    width: 12px;
    height: 12px;
    margin: 1px;
    cursor: pointer;
    border-radius: 10px;
}
.small_circle{/*给JS用的class*/
	background: dodgerblue;
}

#myCarousel_list{/*轮播大图列表整体*/

	position: absolute;
	z-index: 21;
	top: 38px;
	right:68px;
}
.myCarouselList_bg{/*list背景*/
	background:rgba(0,0,0,0) url(../img/myCarouselList_bg.png) no-repeat;
	width: 247px;
	height:371px;
	position: absolute;
	top: 20px;
	right: 55px;
	z-index: 20;
}
#myCarousel_list ul{/*轮播大图列表整体下面的ul*/
		list-style: none;
		padding: 0;	
}
#myCarousel_list ul li{/*轮播大图列表整体下面的li*/
		margin: 1px 0 0 0;
		color: #ccc;
		font-size: 16px;
		height: 33px;
		line-height: 33px;
		width: 220px;
		padding-left: 11px;
		border-radius: 5px;
		cursor: pointer;
}
.myCarouselList_appear{
	background: forestgreen;
	box-shadow:inset 0 0 10px burlywood;
}


#myCarousel1{/*轮播小图1*/
	position: relative;
}
#myCarousel1_left i,#myCarousel2_left i{/*选项卡一左箭头*/
	font-style: normal;
	font-size: 100px;
	position:absolute;
	top:25%;
	left:8%;
}
#myCarousel1_right i,#myCarousel2_right i{/*选项卡一右箭头*/
	font-style: normal;
	font-size: 100px;
	position:absolute;
	top:25%;
	right:8%;
}

#search_right ul li a:hover{
	background: deepskyblue;
}

.carousel-inner img{
	margin: 0 auto;
}
.tab1{
	margin: 30px auto;
	color: #666;
	width: 1200px;
}
.tab-h2{
	width: 1160px;
	font-size: 28px;
	font-weight: bolder;
	text-align: center;
	color: #0059B2;
	letter-spacing: 1px;
}
.mall_h2{
	width: 1160px;
	font-size: 28px;
	font-weight: bolder;
	text-align: center;
	position: relative;
	left:5px;
	color: #0059B2;
	letter-spacing: 1px;
}
.select_h2{
	width: 1160px;
	font-size: 28px;
	font-weight: bolder;
	text-align: center;
	position: relative;
	left: 20px;
	color: #0059B2;
	letter-spacing: 1px;
}
.tab-p{
	font-size: 15px;
	text-align: center;
	color: #999;
	letter-spacing: 1px;
	margin: 20px 0 40px 0;
}
#near_hot{/*设置最近热门字样*/
	font-size: 30px;
	color: #0059B2;
	font-weight: bolder;
}
#left_top,#right_top,#left_bottom,#right_bottom{/*同时设置4个热门内容*/
	margin: 0;
	height: 290px;
}
#today_hot{/*上*/
	padding: 0;
	float: left;
	height: 410px;
}
.today_hot{/*横线和4个小标题总体*/
	text-align: center;
	position: relative;
	left: -5px;
	padding: 0;
	margin: 0 auto 20px;
	height: 50px;
	width: 1175px;
}
.mall{/*商城的横线和4个小标题总体*/
	text-align: center;
	position: relative;
	padding: 0;
	margin: 0 auto 20px;
	height: 50px;
	width: 1200px;
}
.select{/*精选的横线和4个小标题总体*/
	text-align: center;
	position: relative;
	padding: 0;
	left: 15px;
	height: 50px;
	width: 1200px;
}
.today_hot i,.mall i,.select i{/*横线*/
	background: black;
    width: 100%;
    height: 1px;
    overflow: hidden;
    position: absolute;
    top:50%; 
    left: 0;
}
.today_hot dl,.mall dl,.select dl{/*4个小标题整体*/
	background: white;
    position: absolute;
    top:20%; 
    left:33.4%;
}
.mall dl{/*商城的4个小标题整体*/
	background: white;
    position: absolute;
    top:20%; 
    left:32.4%;
}
.select dl{/*精选的4个小标题整体*/
	background: white;
    position: absolute;
    top:20%; 
    left:20.6%;
}
.today_hot dd,.mall dd,.select dd{/*4个小标题个体*/
	color: #333333;
	padding:2px 10px;
	float: left;
	margin: 1px;
	font-size: 18px;  
}
.today_hot dd:nth-child(2),.today_hot dd:nth-child(3),.today_hot dd:nth-child(4),
.mall dd:nth-child(2),.mall dd:nth-child(3),.mall dd:nth-child(4),
.select dd:nth-child(2),.select dd:nth-child(3),.select dd:nth-child(4),
.select dd:nth-child(5),.select dd:nth-child(6){/*3个左边框*/
	padding-left:16px;
	border-left: 1px solid #C0C0C0;
}
.today_body dd{/*热点8个内容*/
	float: left;
	margin:9px;
}
.today_body h4{
	font-size:16px;
	margin:8px 0 3px 0;
}
.today_body h4 a{
	color: #333333;
	font-weight: bolder;
}
.imgbox{
	position: relative;
}
.video{/*播放小图片*/
	background: url(../img/index1.png)0 -47px  no-repeat;
	width: 40px;
    height: 40px;
    position: absolute;
    top: 35px;
    left: 6px;transition:
}
.pic{/*图片展示小图片*/
	background: url(../img/index2.png)0 -160px  no-repeat;
	width:36px;
    height: 23px;
    position: absolute;
    top: 50px;
    left: 6px;transition:
}
.imgbox img{/*图片放大*/
	transition:transform 0.3s ease 0s; 
}
.imgbox img:hover {/*图片放大*/
	transform: scale(1.1);
}
.today_body p{
	font-size: 14px;
	margin: 0;
}
.loading_more{ /*查看那更多字样*/
	background:white;
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin:30px auto;
	border-radius: 40px;
	font-size: 16px;
	color: #666;
	border: 1px solid #666666;
	clear: both;
	cursor: pointer;
}
.loading_more1{ /*查看那更多字样*/
	background:white;
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin:30px auto;
	position: relative;
	left: 13px;
	border-radius: 40px;
	font-size: 16px;
	color: #666;
	border: 1px solid #666666;
	cursor: pointer;
}
.loading_more:hover,.loading_more1:hover{
	background: dodgerblue;
	color: whitesmoke;
}
#option1{/*选项卡整体*/
	float: left;
	padding: 0;
	width:940px;
	height: 480px;

}
#option1 ul a{/*设置正在上映和即将上映字样*/
	font-size: 18px;
	color: #333;
	font-weight: bold;

}
#option1 ul a:hover{
	color: dodgerblue;
}
.tab1 .media-heading{
	margin:5px 0 10px 0;
	font-size: 18px;
}
.media-body p{
	font-size: 12px;
}

.media-left a img{
		width: 150px;
		height: 100px;
	}

#footer{
	background: #eee;
	border-top: 1px solid #CCCCCC;
	padding: 20px;
	text-align: center;
	min-width: 1200px;
	
}

/*第一个选项卡所有的图片位置*/
.one{
	float: left;
	margin:5px 10px 8px 0px;
	position: relative;
	left:10px

}
.one:first-child{
	position: relative;
	left: 0;
}
.one:nth-child(2){
	position: relative;
	left: 3px;
}
.one:nth-child(3){
	position: relative;
	left: 7px;
}
.two{
	float: left;
	margin:5px 10px 8px 0px;
	position: relative;
	left:10px
}
.two:first-child{
	position: relative;
	left: 0;
}
.two:nth-child(2){
	position: relative;
	left: 3px;
}
.two:nth-child(3){
	position: relative;
	left: 7px;
}
/*上面第一个选项卡所有的图片位置*/

.nav_border1{/*设置第一个选项卡头部*/
	width:940px;
	border: 1px solid #C0C0C0;
	border-top:3px solid dodgerblue ;
	border-bottom:1px solid #C0C0C0;
}


a:focus {/*取消虚线*/
	outline-style:none;
	-moz-outline-style: none;	 
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
	border-color: white;
	border-bottom: 2px solid dodgerblue;
}
/*上映影片与即将上映的信息*/
.film_text{/*名字和分数*/
	margin-top:5px ;
}
.film_name{/*名字*/
	color: #333;
	float: left;
	font-size: 18px;
}
.film_score{/*分数*/
	color: #ff7404;
	float: right;
	font-size: 18px;
	margin-right:6px;
}
.film_information{/*上映时间和查影讯*/
	margin-top:35px ;
}
.film_date{/*上映日期*/
	color: #a1a1a1;
	float: left;
	font-size:15px;
}
.film_message{/*查影讯*/
	color:dodgerblue;
	float: right;
	font-size:15px;
	margin-right:6px;
}
.myscore{/*我要打分整体父元素*/
	text-align: center;
	background: dodgerblue;
	display: block;
	width:100px;
	height: 30px;
	margin:65px auto ;

}
.my_score{/*我要打分*/
	color: white;
	line-height: 30px;
	letter-spacing: 1px;
}
.my_score:hover{
	color: white;
	text-decoration: none;
}
/*.img{包裹热映与上映的图片,放大时溢出
	display: block;
	width: 225px;
	height: 325px;
	overflow: hidden;
	
}
.scale{图片放大效果
	transition: transform 0.3s ease 0s;
}
.scale:hover{鼠标放上去有效果
	transform: scale(1.1);
}*/
#option2 .option2_title{/*票房字样*/
	margin-left:15px ;
	padding-bottom: 10px;
	margin-top:5px ;
}
#option2 .option2_title h2{/*票房字样位置*/
	height: 22px;
	line-height: 22px;
	margin-top: 0px;
	color: #004b84;
	font-weight: bold;
}
.nav_border2{
	height:46px;
	width: 188px;
	margin: auto;
	border: 1px solid #C0C0C0;
	border-top:2px solid dodgerblue ;
	border-bottom:1px solid #C0C0C0;
}



#option2{/*选项卡2也就是票房*/
	padding: 0;
	float: left;
	margin: 0;
	width: 220px;
	height: 480px;
	margin-left: 10px;
	border-left: 2px solid #C0C0C0;

}

#option2 ul{
	margin-left: 15px;
}
#option2 ul a{/*内地北美字样*/
	color: #333;
}
#option2 ul a:hover{
	color: dodgerblue;
}
#local,#amer,#kor{/*内地北美内容*/
	margin: 15px;
}
#local p a:hover,#amer p a:hover,#kor p a:hover{
	color: firebrick;
}
#local p a,#amer p a,#kor p a{/*票房内容*/
	margin-top: 10px;
    font-size: 17px;
    margin-left:20px ;
    color: #333;
    text-decoration: none;
}

#local p strong,#amer p strong,#kor p strong{/*票房排名*/
	font-style: italic;
	font-size: 18px;
	color: #333333;
}
#local .rank,#amer .rank,#kor .rank{/*排名123颜色*/
	color: #004b84;
}
.glyphicon.glyphicon-arrow-up,.glyphicon.glyphicon-arrow-down{/*排名小图标*/
	float: right;
}
.new img{/*排名小图标*/
	width:35px;
	height:35px;
	float: right;
}

/*下面是商城*/
.placeholder{
	width: 1200px;
    height: 1px;
}
.mall_list ul{/*商城左边列表整体*/
	float: left;
	height:400px;
	width: 155px;
	text-align: center;
	padding: 10px;
	padding-top: 0;
	list-style: none;		
	border: 1px solid #C0C0C0;

}
.mall_list ul li h3,.mall_list ul li h3 img{
	float: left;
}
.mall_list ul li h3{
	color: #333333;
	margin:10px 0 10px 0;
}
.mall_list ul li p a{
    float: left;
	margin-left:15px ;
	color: #888;
	text-align: left;
}
.mall_list ul li p{
	float: left;
	margin-left: 0;;
	width: 153px;
	position: relative;
	left: -10px;
}

/*下面是商城列表详情清单*/
.mall_listright{/*主体box*/
	float: left;
	position: absolute;
	left: 155px;
}
.mall_lists{/*4个清单整体*/
	background: white;
	width: 400px;
	height: 400px;
	box-shadow: 2px -2px 5px #333 ;
	border-bottom:1px solid #CCCCCC ;
	border-left: none;
    display: none;
    opacity: 0;
}
.mall_lists p a{/*清单字体*/
	margin:0 10px 0 10px;
	color: #666666;
	font-size:12px;
	text-decoration: none;	
}
.mall_lists p a:hover{/*清单字体放上去的颜色*/
	color:darksalmon;
}
.mall_lists h4{
	margin:18px 0 10px 10px;
	font-weight: bolder;
}
.mall_lists h4 span a{/*更多字样*/
	font-weight: none;
	color: #666;
	font-size: 13px;
	display: block;
	float: right;
	margin-top: 7px;
	margin-right: 2px;
}
.mall_lists:first-child{/*第一个单体清单*/
	position: absolute;
	z-index: 0;
}
.mall_lists:nth-child(2){/*第二个单体清单*/
	position: absolute;
	z-index: 0;
}
.mall_lists:nth-child(3){/*第三个单体清单*/
	position: absolute;
	z-index: 0;
}
.mall_lists:last-child{/*第四个单体清单*/   
	position: absolute;
	z-index: 0;
}
.jian{/*第一个推荐小图标*/
	position: absolute;
	top: 62px;
	left: 110px;
}
.small_hot{/*第1个hot*/
	position: relative;
	top: -15px;
	left: 8px;
}
.small_new{/*第一个new*/
	position: relative;
	top: -14px;
	left: -1px;
}
.small_new1{/*第二个new*/
	position: absolute;
	top: 30px;
	left: 160px;
}
.small_hot1{/*第二个hot*/
	position: absolute;
	top: 235px;
	left: 150px;
}
.jian1{/*第二个jian*/
	position: absolute;
	top: 319px;
	left: 180px;
}
.mall_pic1{/*商城中间一幅图*/
	float: left;
	margin-left: 30px;
}
.mall_pic2{/*右测上方图*/
	float:right;	
	position: relative;
}
.mall_pic3{/*右测下方图*/
	float:right;
	margin-top: 20px;
	position: relative;
}
.tag{
	font-style: normal;
	position: absolute;
	top: 3px;
	left: 3px;
	background: #eb321e;
	color:white;
	padding:4px 6px;
}


/*分辨率大于等于768时*/
/*@media(min-width:768px) {
	.tab-p{
		font-size: 16px;	
	}
	.media-left a img{
		width: 300px;
		height: 200px;
	}
	.tab1 .media-heading{
	font-size: 20px;
    }
    .media-body p{
	font-size: 13px;
   }
}*/
/*分辨率大于等于992时*/
/*@media(min-width:992px) {

	.tab-p{
		font-size: 17px;	
	}
	.tab1 .media-heading{
	font-size: 22px;
    }
    .media-body p{
	font-size: 14px;
    }
}*/
/*分辨率大于等于1200时*/
/*@media(min-width:1200px) {
	.tab-p{
		font-size: 18px;	
	}
	.media-left a img{
		width: 350px;
		height: 233px;
	}
	.tab1 .media-heading{
	font-size: 24px;
    }
    .media-body p{
	font-size: 14px;
   }
}*/
#tab4{
min-width: 1200px;

}
.labi_selectheader{
	width: 1200px;
	margin: auto;

}
.labi_selectbody{
    width: 100%;
	height: 600px;
	margin: 0 auto;
	background: #282828;
	
	
}
.labi_selectcontent{
	width: 1200px;
	height: 560px;

	margin: 20px auto;
}

.labi_selecttitle{/*新片预告与更多字样的box*/
	float: left;
	width: 860px;
	height: 25px;
	margin-top: 30px;
}
.labi_selecttitle a{
	float: right;
	color:white;
	font-size: 16px;
}
.labi_selecttitle h3{
	float: left;
    color: white;
	margin: 0;
}
.labi_selectpic{
	width: 860px;
	height: 500px;
	float: left;
}
.labi_selectpicleft {/*精选左边图片和内容box*/
	float: left;
	margin-top:20px ;
	position: relative;
}
.labi_selectpicleft h3 a{
	text-decoration: none;
	margin-left: 10px;
	color: white;
}
.labi_video1{
	background: url(../img/index1.png) -80px -47px no-repeat;
	width: 56px;
	height: 56px;
	position: absolute;
	left: 20px;
	top: 305px;
}
.labi_selectpicleft p{
	color:white;
	margin:20px 0 0 20px;
	font-size: 15px;
}

.labi_selectmid1,.labi_selectmid2,.labi_selectmid3{
	width: 230px;
	float: right;
	margin-top: 20px;
	margin-bottom: 5px;

}
.labi_selectmid1 span,.labi_selectmid2 span,.labi_selectmid3 span{
	margin-left: 20px;
	position: absolute;
	bottom: 0;
	left: 20px;
	padding-left:15px ;
}
.labi_selectmid1 a,.labi_selectmid2 a,.labi_selectmid3 a{
	position: relative;
	display: block;
}
.labi_selectmid1 span strong,.labi_selectmid2 span strong,.labi_selectmid3 span strong{
	display: block;
	color: white;	
}
.labi_video2 {
	background: url(../img/index1.png) 0 -103px no-repeat;
	width: 32px;
	height: 32px;
	position: absolute;
	left:-30px;	
}
.labi_selectmid1 span b,.labi_selectmid2 span b,.labi_selectmid3 span b{
	display: block;
	font-size: 12px;
	color: white;	
}
.labi_selectright{
	width: 320px;
	height: 486px;
	float: right;
	margin:0;
	position: relative;
	top:-25px
}
.labi_selectrtitle h4{/*精选右边的标题*/
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 13px;
	color: white;
}
.labi_seletrank{
	width: 320px;
	height: 300px;
	background: white;
}
.labi_seletrank dt span{
    display: block;
    width:122px ;
    font-size: 15px;
    margin:20px 0 20px 10px;
    float: left;
    color: #333;

}

.rankodd{
	width: 320px;
	clear: both;
	float: left;
	background: #f5f5f5;
	padding: 10px 10px;
}
.rankeven{
	width: 320px;
	clear: both;
	float: left;
	padding: 10px 10px;
}
.rankname {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	float: left;
	width:110px;
}
.rankname a{
	font-size: 14px;
	text-decoration: none;
	color: #333;
}
.rankname a:hover{
	color: dodgerblue;
}
.rankscore{
	display: block;
	text-align: center;
	float: left;
	width: 92px;
	color: #61ac36;
	font-size: 16px;
	position: relative;
}
.rankscore_tagodd,.rankscore_tagev{/*第一行与第二行一样*/
	display: block;
	background: url(../img/index1.png) -72px -13px no-repeat;
	width: 7px;
    height: 13px;
    margin-left: 10px;
    position: absolute;
    left:50px;
    top:5px;
}
.rankscore_tagodd2{/*第三行的上箭头*/
	display: block;
	width: 7px;
    height: 13px;
    margin-left: 10px;
    position: absolute;
    left:50px;
    top:5px;
	background: url(../img/index1.png) -72px 0 no-repeat;
}
.rankscore_tagev2{/*第四行向下箭头*/
	display: block;
	background: url(../img/index1.png) -79px 0 no-repeat;
	width: 7px;
    height: 13px;
    margin-left: 10px;
    position: absolute;
    left:50px;
    top:5px;
}
.rankctrlodd,.rankctrlev{
	display: block;
	float:right;
	text-align: right;
}
.rankctrlodd a{/*奇数行a的样式*/
	text-decoration: none;
	display: block;
	text-align: center;
	color: white;
	width: 80px;
	background: #61ac36;
    border-color: #61ac36;
	font-size: 12px;
	line-height: 22px;
	border-radius: 15px;
	border: 1px solid #888;
}
.rankctrlev a{/*偶数行a的样式*/
	text-decoration: none;
	display: block;
	text-align: center;
	color: #888;
	width: 80px;
    border-color: #61ac36;
	font-size: 12px;
	line-height: 22px;
	border-radius: 15px;
	border: 1px solid #888;
}
.labi_seletmore{
    margin-top: 20px;
	float: right;
}
.labi_seletmore a{
	text-decoration: none;
	color: #333333;
}
.labi_seletmore a:hover{
	color: dodgerblue;
}
#tab5{
	width: 1200px;
	height: 585px;
	margin: 30px auto;
	margin-bottom: 80px;
}
.hot-commentes{
	display: block;
	font-size: 22px;
	margin-bottom: 9px;
}
.comments_picbox{
	width: 450px;
	height: 260px;
	position: relative;
	float: left;

	
}
#myCarousel3_left i{/*左箭头*/
	font-style: normal;
	font-size: 70px;
	position:absolute;
	top:30%;
	left:8%;
}
#myCarousel3_right i{/*右箭头*/
	font-style: normal;
	font-size: 70px;
	position:absolute;
	top:30%;

}
.carousel-indicators{/*改变小圆点位置*/
 bottom: 10px;
 left:90%;
 top:50%;
}
.carousel-indicators .active{/*改变小圆点颜色*/
	background: dodgerblue;
}
.comments-content{
	position: relative;
}
.comments-contentborder{
	border: 1px solid #C0C0C0;
}
.comments-content img{/*影片内容中圆形图片*/
	position: absolute;
	top: -50px;
	left: 5%;
	border-radius: 50px;
	border: 3px solid white;
}
.comments-content p{/*影片内容中评论人*/
	font-size: 15px;
	text-align: center;
	margin-top: 10px;
}
.filmcomments_score{/*影片内容中评分*/
	background:#74ab34;
	display: inline-block;
	width: 32px;
	height:20px;
	color: white;
}
.comments-content h3{
	text-align: center;
	font-size:22px ;
	font-weight: 400;
}
.comments-content .describe a{/*影评段落*/
	display: inline-block;
	text-indent: 3em;
    font-size: 16px;
	text-align: left;
	padding: 20px;
	margin:20px 10px;
	line-height: 1.7;
	color:#333333;
	text-decoration: none;
}
.comments-content .describe a:hover{
	color: #357EBD;
}
.describe i{/*双引号图片*/
	background: url(../img/index1.png) -86px 0 no-repeat ;
	width: 30px;
    height: 21px;
    position: absolute;
    z-index: 15;
    top: 98px;
    left:40px;

}

.comments_midbox{/*中间的影评box*/
    float: left;
	width: 375px;
	height: 520px;
	margin-top: 38px;
	margin-left: 30px;
	position: relative;
}
.comments_midbox ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.comments_mid{/*第一条摘要的主体*/
	position: relative;	
}
.comments_mid img,.comments_mid1 img,.comments_mid2 img{
	position: absolute;
	right: 0;
	top: 20px;
}
.comments_mid .describe_mid a,.comments_mid1 .describe_mid a,
.comments_mid2 .describe_mid a{/*三条摘要*/
	display: block;
	width: 270px;
	height: 69px;
	position: absolute;
	top: 20px;
	left: 20px;
	text-indent: 3em;
    font-size: 16px;
	text-align: left;
	line-height: 1.7;
	color:#333333;
	text-decoration: none;
}
.comments_mid .describe_mid a:hover,.comments_mid1 .describe_mid a:hover,
.comments_mid2 .describe_mid a:hover{
	color: #357EBD;
}
.comments_midbox .describe_mid i{/*双引号图片*/
	background: url(../img/index1.png) -116px 0 no-repeat ;
	width: 22px;
    height: 16px;
    position:absolute;
    z-index: 15;
    top: 24px;
    left:40px;
}
.describe_down{/*底下点评人*/
	position: absolute;
	font-size: 14px;
	text-align: center;
	top: 105px;
	left: 20px;
}
.comments_mid1{/*中间第二条影评整体*/
	position: relative;
	top: 165px;
}
.comments_mid2{/*中间第三条影评整体*/
	position: relative;
	top: 330px;
}
.commentes_more{/*影评更多字样*/
	position: absolute;
	right: 0;
	top:-25px;
	font-size: 16px;
}

.comments_right{/*影评整体右边*/
	float: right;
	position: relative;
	width: 303px;
	height: 554px;
}
.comments_right span{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 110px;
	margin-top: 0;
}
.comments_rightbox{
	height: 517px;
	border: 1px solid #C0C0C0;
}
.comments_right h3{
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}
.comments_righttime{/*评价时间这一行*/
	position: relative;
	text-align: left;
	margin-left: 40px;
	margin-top: 20px;
	
}
.comments_righttime i{/*小时钟图标*/
	position: absolute;
	background:url(../img/index1.png) -86px -21px no-repeat;
	width: 14px;
	height: 14px;
    margin-left: -15px;
    margin-top: 3px
}
.comments_rightdescribe{/*右边描述部分*/
   font-size: 14px;
   margin-left: 10px;
   padding: 10px;
   line-height: 1.7;
}
.comments_rightsign{/*我参加字样box*/
	text-align: center;
}
.comments_rightsign a{/*我参加字样*/
	display: inline-block;
	font-size: 20px;
	color: white;
	background: #1c7ed5;
	width: 120px;
	height: 40px;
	letter-spacing: 2px;
	padding-top:6px ;
	border-radius: 40px;
	text-decoration: none;
	opacity: 0.8;
	margin-top: 15px;
}
.comments_rightsign a:hover{
	opacity: 1;
}