body{
	padding: 50px 0 30px 0;
}
.dropdown-menu {
	padding: 0;
}
#carousel{
	margin-bottom: 60px;
}
#carousel,#carousel .item{
	height:500px;
	background-color: #000;
}
#carousel img{
	width:100%;
}
.carousel-caption p{
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 1.8;
}
#introduce .col-md-4{
	text-align: center;
}
.tab_main{
	margin: 80px 0 0 0;
}
.text{
	margin-top: 140px;
}
.text h2{
	font-size: 50px;
}
.text .text-muted{
	font-size: 28px;
}
.text p{
	font-size: 24px;
}
.tab-image{
	margin-top: 50px;
}
.divider{
	margin-bottom: 30px;
	height:1px;
	background:#ddd;
}
#footer a{
	text-decoration: none;
	color: #666;
}
@media only screen and (max-width:1200px ) {
	.text h2{
		font-size: 45px;
	}
	.tab_main .text-muted{
		font-size: 23px;
	}
	.text p{
		font-size: 20px;
	}
	
}
@media only screen and (max-width:991px) {
	.text{
		margin-top: 50px;
		text-align: center;
	}
}
@media only screen and (max-width:768px) {
	#carousel{
		margin-bottom: 30px;
	}
	#carousel,#carousel .item{
		 height:300px;
		 background-color: #000;
	}
	.carousel-caption p{
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 1.8;
    }
    #carousel img{
	min-height: 300px;
   }
}